.navItem-Prev {
    width: 5vw;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.5rem;
}

.navItem-Next {
    width: 5vw;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.5rem;
}

.hidden{
    display: none;
}

.navItem-Prev-Next:hover {
    background-color:  rgb(0, 150, 136);
}

nav ul li a {
 text-decoration: none;
 font-size: 1.2rem;
 font-weight: bold;
 color: black;
}

nav ul li a.active {
    color: rgb(0, 150, 136);
}